:root {
    --primary-color: #4f46e5;
}
.form-container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}
.name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
h2{
    margin:0.2rem;
    text-align: center;
}

p{
    margin:0.2rem;
    text-align:center;
    font-weight:300;
    color: #6b7280;
    margin-bottom: 2rem;
}
label{
    font-weight:500;
    font-size: small;
    color: #6b7280;
}
input{
  margin: 0.5rem 0;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  font-size:small;
  font-weight:400;
}

input:focus{
    outline: none;
}

button{
    padding: 0.7rem;
    background-color: var(--primary-color);
    color: white;
    border-style:none ;
    margin: 0.7rem;
    width:330px;
    border-radius: 10px;

}
.select-type-container{ 
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width:350px;
   margin:auto
}
.select-type-container div{
    width: 120px;
    height: 120px;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.select-type-container h5{
    margin:0.2rem;
   
}
.select-type-container p{
    margin:0.2rem;
    font-size: small;
    text-align: start;
    color: #71717a;
    font-weight: 400;
}

.image-active{
    border:2px solid #4f46e5;
}
.image-deactive{
    border: 1px solid #e4e4e7;
}
.logo-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 5rem;

}