:root {
    --primary-color: #4f46e5;
  }

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    max-width: 400px;
}
.progressbar::before,

.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  .progress {
    background-color: var(--primary-color);
    width: 80%;
    transition: 0.3s;
  }
.progress-steps {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}
.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }  